 img {
        width: 200px;
        height: 200px;
        border-width: 2px;
        border-color: #000000;
        border-style: solid;
        border-radius: 5px;
        padding: 5px;
        display: block;
        margin: auto;
        margin-bottom: 5px;
        margin-top: 5px;
        max-width: 100%;

 }

 em {
        font-weight: bold;
        font-style: normal;
        color: rgb(0, 0, 0);
 }
        
a{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #000000;
}

p{
        margin-left: 10px;
       font-weight: normal;
       font-size: 20px;
       font-family: Arial, Helvetica, sans-serif;
       margin-bottom: 5px;
       margin-top: 5px;
       text-align: center;
       color: #000000;

        }

 h1{
       text-align: center;
       font-family: Arial;
       font-weight: bolder;
       color: #000000;
       font-size: 45px;
        }
h2{

        text-align: center;
       font-family: Arial;
       font-weight: bold;
       font-style: oblique;
       color: #000000;
       text-underline-offset: 0px;
       font-size: 35px;
}

  a{
       text-align: center;
       font-size: 0%;
       
       
        }

.flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: normal;
        align-content: normal;
}


.flex-container > div {

        background-color: #ffffff;
        margin: 5px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
        font-weight: bold;
        color: black;

}

nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

      }
nav a {

        font-family: Arial, Helvetica, sans-serif;
        font-size: medium;
        color: #000000;
        display: block;
        padding: 10px 20px;
        margin-bottom: 5px;
        text-align: center;
        background-color: rgb(255, 255, 255);
        border-width: 2px;
        border-color: #000000;
        border-style: solid;

      }
nav a:hover {
        background-color: #aaaaaa;
        color: #000000;
      }

nav a:focus{
        background-color: rgb(204, 204, 204);
        color: blue;
        outline: 2px;

}


iframe{
        border-width: 2px;
        border-color: #000000;
        border-style: solid;
        border-radius: 5px;
        padding: 5px;
        display: block;
        margin: auto;
        margin-bottom: 5px;
        margin-top: 5px;
        width: 50%;
        height: auto;

}


.container > div {

     .container {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  justify-content: center; 
  align-content: center; 
  justify-items: center; 
  align-items: center; 
  width: 300px; 
  height: 300px; 
}

}
 
:focus-visible{
color: blue;
background-color: aqua;



}
